apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ .Release.Name}}-watcher-api
  labels:
    kalavai.job.name: {{ .Values.system.jobId}}
spec:
  interval: 10m
  chart:
    spec:
      chart: kalavai-watcher
      version: "{{ .Values.watcherVersion}}"
      sourceRef:
        kind: HelmRepository
        name: kalavai-repo-{{ .Release.Name }}
        namespace: {{ .Release.Namespace }}
  values:
    imageTag: {{ .Values.watcherImageTag}}
    deployment:
      replicas: 1
      staticWorkspace: {{ .Release.Namespace}}
      isSharedPool: False
      inCluster: True
      adminKey:
        valueFrom:
          secretKeyRef:
            name: {{ .Release.Name }}-secret
            key: watcherAdminKey
      writeKey:
        valueFrom:
          secretKeyRef:
            name: {{ .Release.Name }}-secret
            key: watcherWriteKey
      readonlyKey:
        valueFrom:
          secretKeyRef:
            name: {{ .Release.Name }}-secret
            key: watcherReadonlyKey
      useAuthKey: True
    service:
      type: ClusterIP
    labels:
      kalavai.job.name: {{ .Values.system.jobId}}
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ .Release.Name}}-api
  labels:
    kalavai.job.name: {{ .Values.system.jobId}}
spec:
  interval: 10m
  chart:
    spec:
      chart: kalavai-api
      version: "{{ .Values.kalavaiApiVersion}}"
      sourceRef:
        kind: HelmRepository
        name: kalavai-repo-{{ .Release.Name }}
        namespace: {{ .Release.Namespace }}
  values:
    bridge:
      replicas: 1
      imageTag: {{ .Values.kalavaiApiImageTag}}
      labels:
        kalavai.job.name: {{ .Values.system.jobId}}
      enabled: true
      watcherApiUrl: {{ .Release.Name}}-watcher-api-service:8000
      watcherApiKey: {{ .Values.watcherAdminKey}}
    {{- if and .Values.kalavaiApiRingfenceNodeLabel .Values.kalavaiApiRingfenceNodeLabelValue }}
      ringfenceNodeLabel: {{ .Values.kalavaiApiRingfenceNodeLabel}}
      ringfenceNodeLabelValue: {{ .Values.kalavaiApiRingfenceNodeLabelValue}}
    {{- end }}
      # service:
      #   type: ClusterIP