apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  labels:
    # must have this!
    kalavai.job.name: {{ .Release.Name }}
spec:
  type: NodePort
  selector:
    role: leader
    kalavai.job.name: {{ .Release.Name }}
  ports:
    - name: gcs
      port: 6379
      targetPort: 6379
      protocol: TCP
    - name: dashboard
      port: 8265
      targetPort: 8265
      protocol: TCP
    - name: client
      port: 10001
      targetPort: 10001
      protocol: TCP
    - name: serve
      port: 8000
      targetPort: 8000
      protocol: TCP